    <!-- NAVIGATION MOBILE (FIXÉE EN BAS) -->
    <nav class="lg:hidden fixed bottom-0 left-0 right-0 bg-white border-t border-slate-200 px-6 py-3 flex justify-between items-center z-50">
        <a routerLink="/dashboard-technicien" routerLinkActive="active" class="text-blue-600 text-xl"><i class="fas fa-th-large"></i></a>
        <a href="#" class="text-slate-400 text-xl"><i class="fas fa-calendar-alt"></i></a>
        <a routerLink="/dashboard-technicien/skill" class="text-slate-400 text-xl"><i class="fas fa-user"></i></a>
        <a href="#" class="text-slate-400 text-xl"><i class="fas fa-wallet"></i></a>
    </nav>
